<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration> 
    <session-factory> 
  		
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.url">jdbc:postgresql://localhost:5432/teste</property> 
        <property name="connection.username">postgres</property> 
        <property name="connection.password">belga....</property> 
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">3</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

<!--         Não está usando o boneCP devido a uma incompatibilidade da versão 0.8.0 com o hibernate 4.3 -->
<!-- 		<property name="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</property> -->
<!-- 		<property name="bonecp.idleMaxAge">240</property> -->
<!-- 		<property name="bonecp.idleConnectionTestPeriod">60</property> -->
<!-- 		<property name="bonecp.partitionCount">3</property> -->
<!-- 		<property name="bonecp.acquireIncrement">10</property> -->
<!-- 		<property name="bonecp.maxConnectionsPerPartition">3</property> -->
<!-- 		<property name="bonecp.minConnectionsPerPartition">1</property> -->
<!-- 		<property name="bonecp.statementsCacheSize">10</property> -->
<!-- 		<property name="bonecp.releaseHelperThreads">3</property> -->


    </session-factory> 
</hibernate-configuration> 